/* Changing the font */
@font-face{
    font-family: TheMixSemiBold;
    src: url(TheMixSemiBold-Plains.otf) format("opentype");
    font-family:"Sansation Light";
    src:url("Sansation_Light.eot?") format("eot"),url("Sansation_Light.woff") format("woff"),url("Sansation_Light.ttf") format("truetype"),url("Sansation_Light.svg#SansationLight") format("svg");
    font-weight:normal;
    font-style:normal;
}
*{
    box-sizing: border-box;
}


.foundations-header{
    font-family: "TheMixSemiBold";
    text-align: center;
}
.hero-container{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("hero.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-heading{
    width: 60vw;
    line-height: 56px;
    font-size: 10vh;
    font-weight: 900;
    color:white;
    display:flex;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 30vh;

}

/* Start Nav-bar */

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;

}
.navbar-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.navbar-items > li {
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }

.navbar-items > li:last-child {
    margin-right: 10px;
}

.navbar > img{
    margin: 10px 20px 0px 20px;
    width: 80px;
    height: 107px;
}

/* End Nav-bar */

/* Start Foundations */
.foundations-container
{
    width: 100%;
    background: lightgrey;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    padding:10px;
}

.box-heading{
    margin: 10px 0 0 10px;
    padding: 5 5 5 5;
}
.box
{
    width: 18%;
    background: white;
    margin: 10px;
    box-sizing: border-box;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
/* END Foundations */



/* Start Vision */
.vision-container
{
    background-image: linear-gradient(rgba(128, 127, 127, 0.8), rgba(128, 127, 127, 0.8)), url("vision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.vision-container-video{

    background-image: url("video.jpg");
    background-size:auto;
    background-repeat: no-repeat;
}

.vision-container > img{
    width: 100%;
    height: auto;
} 

.video-image{
    padding: 0 200px 100px 200px;
}
/* END VISION */

/* START JOINBDD */

.joinbdd-container{
    width: 100%;
    background: lightgrey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

.joinbdd-image{
    width: 30%;
    height: 400px;
    padding-right: 20px;
}

.joinbdd-image img{
    width:100%;
    height:auto;
}

.joinbdd-facilities{
    background-image: url("bg-icon.png");
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.joinbdd-footer{
    display:flex;
    flex-direction: column;
}

.joinbdd-footer-text{
    display: flex;
    justify-content: flex-end;
}

.joinbdd-apps{
    display:flex;
    justify-content: flex-end;
}

.join-bdd-btns{
    width: 8%;
    height: 5%
}

.facilities-list{
    list-style-image: url("bullet-point.png");
    padding-left: 5px;
}
/* END JOINBDD */

/* PARALLAX START */

.parallax-cover{
    background-image: url("parallax-light.jpg");
    background-size: cover;
}
.parallax-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
    padding-left: 15vh;
    padding-right: 15vh;
}
.parallax-container-items{

    margin-right: 20px;
    margin: 10px;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* PARALLAX END */

/* FOOTER START */
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    padding-left: 10vh;
    padding-right: 10vh;
}

.footer-discover{
    width: 20%;
    margin: 50px;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* FOOTER END*/

/* START SET IMAGE SIZES */
.community-image{
    width: 170px;
    height: 80px;
}

.sharing-economy-image{
    width: 110px;
    height: 80px;
}

.smart-design{
    width: 80px;
    height: 80px;
}

.sustainability{
    width: 97px;
    height: 80px;
}

.social-well-being{
    width: 136px;
    height: 80px
}

.community-image-parallax{
    width: 80px;
    height: 70px;
}

.events-image{
    width: 80px;
    height: 80px;
}

.support-image{
    width: 80px;
    height: 87px;
}

.capital-funds-image{
    width: 80px;
    height: 87px;
}
/* END SET IMAGE SIZES */

/* Utilities */
.btn {
    padding: 14px 10px;
    border: none;
    border-radius: 8px;
  }

.btn-blue {
background-color: blue;
color: #fff;
font-weight: bold;
}

.rcorners {
border-radius: 25px;
padding: 20px; 
}

.flex-grow-2{
    flex-grow: 2;
}

.facilities-list{
    list-style: none;
    padding-left: 5px;
}

.facilities-list > li{
    margin-bottom: 5px;
}

/* Formating */

.bold {
    font-weight: bold;
}
.large-font{
    font-size: large;
}

.heading{
    padding: 10px;
    color:white;
}

.center-text{
    text-align: center;
}



/* Responsitivity */
@media screen and (max-width:1200px){
    .box{
        width:30%;
    }
}


@media screen and (max-width:1000px){
    .join-bdd-btns{
        width: 16%;
        height: 10%
    }
}

@media screen and (max-width:800px){
    .video-image{
        padding: 0 10% 10% 10%;
    }
    .joinbdd-facilities{
        width: 90%;
    }
    .join-bdd-btns{
        width: 30%;
        height: 20%
    }
    .parallax-container-items{
        width:90%;
    }
    .hero-heading{
        width: 60%;
        font-size: 50px;
    }
    .footer-container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width:600px){
    .box{
        width:90%;
    }
    .joinbdd-facilities{
        width: 100%
    }
    .footer-container{
   
    }
    .footer-discover{

    }

}



