/* Importing the font */
@font-face {
    font-family: "TheMixBlackBold"; src:url(../assets/fonts/TheMixSemiBold-Plain.otf) format("opentype");
    font-family: "TheMixBlack"; src:url(../assets/fonts/TheMixBlack-Plain.otf) format("opentype");
}

.themixblackbold{
    font-family: "TheMixBlack";
    font-weight: 700;
}

.themixblack{
    font-family: "TheMixBlack";
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.foundations-header{
    text-align: center;
}
.hero-container{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../assets/images/hero.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-heading{
    width: 60vw;
    line-height: 56px;
    font-size: 10vh;
    font-weight: 900;
    color:white;
    display:flex;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 30vh;

}

/* Start Nav-bar */

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;

}
.navbar-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.navbar-items > li {
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }

.navbar-items > li:last-child {
    margin-right: 10px;
}

.navbar > img{
    margin: 10px 20px 0px 20px;
    width: 80px;
    height: 107px;
}

/* End Nav-bar */

/* Start Foundations */
.foundations-container
{
    width: 100%;
    background: lightgrey;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    padding:10px;
}

.box-heading{
    margin: 10px 0 0 10px;
    padding: 5px 5px 5px 5px;
}
.box
{
    width: 18%;
    background: white;
    margin: 10px;
    box-sizing: border-box;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
}
/* END Foundations */



/* Start Vision */
.vision-container
{
    background-image: linear-gradient(rgba(128, 127, 127, 0.8), rgba(128, 127, 127, 0.8)), url("../assets/images/vision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.vision-container > img{
    width: 100%;
    height: auto;
} 

.video-image{
    padding: 0 200px 100px 200px;
}

.vision-container > h2{
    margin-bottom: 20px;
    margin-top: 30px;
} 
/* END VISION */

/* START JOINBDD */

.joinbdd-container{
    width: 100%;
    background: lightgrey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

.joinbdd-image{
    width: 30%;
    height: 400px;
    padding-right: 20px;
}

.joinbdd-image img{
    width:100%;
    height:auto;
}

.joinbdd-facilities{
    background-image: url("../assets/images/bg-icon.png");
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.joinbdd-footer{
    display:flex;
    flex-direction: column;
}

.joinbdd-footer-text{
    display: flex;
    justify-content: flex-end;
}

.joinbdd-apps{
    display:flex;
    justify-content: flex-end;
}

.join-bdd-btns{
    width: 8%;
    height: 5%
}

.facilities-list{
    list-style-image: url("../assets/images/bullet-point.png");
    padding-left: 5px;
}
/* END JOINBDD */

/* PARALLAX START */

.parallax-cover{
    margin-top: 10px;
    background-image: url("../assets/images/parallax/parallax-light.jpg");
    background-size: cover;
}
.parallax-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
    padding-left: 15vh;
    padding-right: 15vh;
}
.parallax-container-items{

    margin-right: 20px;
    margin: 10px;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* PARALLAX END */

/* PROGRAMS START */
.programs-cover{
    background-image: url("../assets/images/parallax/parallax-7.jpg");
    padding: 50px 0 25px 0;
}
.programs-container{
    max-width: 1170px;
    margin: auto;
}
.programs-col{
    width: 20%;
    padding: 0 15px;
    text-align: center;
}
.programs-col:first-child{
    width: 40%;
    padding: 0 25px;
    font-size: medium;
    text-align: start;
}

.programs-col > h4{
    color: white;
    font-size: large;
    font-weight: 500;
}

.programs-btn{
    text-align: center;
    margin-top: 20px;
}
/* PROGRAMS END*/

/* TRENDING START */

.trending-cover{
    background-image: url("../assets/images/trending-background.png");
    padding: 50px 25px;
}

.trending-container{
    max-width: 1170px;
    margin: auto;
}

.trending-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trending-col{
    width: 30%;
    text-align: center;
    height: 470px;
}

.trending-col-imageblock{
    width: 100%;
    height: 55%;

}

.trending-col-textblock{
    padding: auto;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: white;
}

.trending-col-footer{
    padding: auto;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: white;
}

.trending-col-imageblock > img{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

.trending-col-textblock > p{
    padding-top: 5px;
}

/* TRENDING END */

/* COMMUNITY START */
.community-cover{
    background: white;
    width: 100%;
}

.community-container{
    display:flex;
    flex-wrap: wrap;
}

.community-col-words{
    padding-left: 7vw;
    padding-top: 20px;
    width: 40%;
    height: 20%;
}

.community-col-words h1{
    height: 100%;
    width: 100%;
}

.community-col-youtube{
    width: 28%;
    height: auto;
    margin-right: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.community-col-youtube > img{
    height: 80%;
    width: 80%;

}
/* COMMUNITY END */

/* CUSTOM FOOTER */

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 30px 15px 0 15px;

}

.footer-col > h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transform: all 0.3s;
}

.footer-col ul li a:hover{
    text-decoration: underline;
}

.footer-col > ul{
    list-style: none;
}

.footer-btns{
    width: 50%;
}

.footer-end{
    padding-left:40px;
}

/* CUSTOM FOOTER */

/* START SET IMAGE SIZES */
.community-image{
    width: 170px;
    height: 80px;
}

.sharing-economy-image{
    width: 110px;
    height: 80px;
}

.smart-design{
    width: 80px;
    height: 80px;
}

.sustainability{
    width: 97px;
    height: 80px;
}

.social-well-being{
    width: 136px;
    height: 80px
}

.community-image-parallax{
    width: 80px;
    height: 70px;
}

.events-image{
    width: 80px;
    height: 80px;
}

.support-image{
    width: 80px;
    height: 87px;
}

.capital-funds-image{
    width: 80px;
    height: 87px;
}
/* END SET IMAGE SIZES */

/* Utilities */

.custom-blue-btn-stolen {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.rcorners {
    border-radius: 25px;
    padding: 20px; 
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-grow-3{
    width: 40%;
}

.facilities-list{
    list-style-image: url("../assets/images/bullet-point.png");
    padding-left: 5px;
}

.facilities-list > li{
    margin-bottom: 5px;
}

/* Formating */

.bold {
    font-weight: bold;
}
.large-font{
    font-size: large;
}

.margin-top-bot{
    margin: 15px 0px 15px 0;
}

.heading{
    padding: 10px;
    color:white;
}

.center-text{
    text-align: center;
}



/* Responsitivity */
@media screen and (max-width:1200px){
    .box{
        width:30%;
    }
}


@media screen and (max-width:1000px){
    .join-bdd-btns{
        width: 16%;
        height: 10%
    }
}

@media screen and (max-width:800px){
    .community-col-words h1{
        height: 100%;
        width: 100%;
        font-size: 5vw;
    }
    .community-col-words{
        width: 100%;
    }
    .community-col-youtube{
        width: 100%;
        height: 40%;
        text-align: center;
    }
    .community-col-youtube > img{
        width: 50%;
    }
    .trending-col{
        width: 100%;
        margin-bottom: 10px;
    }
    .video-image{
        padding: 0 10% 10% 10%;
    }
    .joinbdd-facilities{
        width: 90%;
    }
    .join-bdd-btns{
        width: 30%;
        height: 20%
    }
    .parallax-container-items{
        width:90%;
    }
    .hero-heading{
        width: 60%;
        font-size: 50px;
    }
    .footer-container{
        padding-left: 0;
        padding-right: 0;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .vision-container > h2{
        margin-bottom: 20px;
        margin-top: 30px;
    } 
    .vision-container > img{
        height: 40vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-end{
        padding-left:10px;
    } 
}

@media screen and (max-width:600px){
    .box{
        width:90%;
    }
    .joinbdd-facilities{
        width: 100%
    }

    .footer-col{
        width: 100%;
    }
    .programs-col:first-child{
        width: 60%;
    }
    .programs-col{
        width: 30%;
    }
}



